body{
	margin: 0;
}
.wall{
	background-color:#d3d7dc;
}
.sellers{
	background-color: #ffffff;
	border-radius: 5px

}
@media screen and (max-width: 600px) {
  .navbar-form .form-control {
    width: 150px;
  },
}