<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %}Strade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'consumer/styles/bootstrap.min.css'%}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'consumer/styles/consumer_style.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'consumer/styles/base.css' %}"/>
    {% block style %}{% endblock style %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'consumer/images/favicon.ico' %}" />
 <link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet' />
</head>

 <!--Nav div-->
<nav id="navbar" class="navbar p-0   navbar-expand-lg m-0 fixed-top " style="background-color: #365899;height: 42px;">
  <div class="container">
     <a href="#"> <div class="d-none d-lg-block navbar-brand m-0 logo" style="background-image: url('https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg');"> 
        </div></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSuppcd ortedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

   <!-- search item in this shop-->
     <form class="form-inline searchF" style="margin-top:30px;background-color:white">
        <input class="search form-control mr-sm-2" type="search" placeholder="Search items here..." aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0 p-0 m-0 srchBtn" type="submit">Search</button>
  </form> 
   <!--left of nav-bar-->
   <div class="collapse navbar-collapse justify-content-end" id="main-navbar" style="width: 250px;height: 50px;">
    <!--profile pic-->       
        <div>
           <img src="{% static 'consumer/images/profholder.jpeg' %}"          class="img-fluid rounded" alt="Responsive image rounded" style="width:35px;">
        </div>
    <ul class="navbar-nav nav" >
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    </div>
    </div>

</nav>
<body class="" style="padding-top:43px">

        {% block content %}
          
        {% endblock content %}
</body>

         <script src="{% static 'consumer/scripts/bootstrap.min.js' %}"></script>
         <script src="{% static 'consumer/scripts/base.js' %}"></script>
         <script src="{% static 'consumer/scripts/jquery-3.3.1.js' %}"></script>
         <script src="{% static 'consumer/scripts/index.js' %}"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
 </html>