{% load static %}

<!doctype html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<link href="{% static 'consumer/css/css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'consumer/css/consumer_style.css' %}" rel="stylesheet" >
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>strade</title>

</head>

<!--Nav div-->
<nav class="navbar p-0   m-0 sticky-top navbar-expand-sm  navbar-light" style="background-color: #365899;">
	<div style="background-color: blue;height:44px;width: 20px " class="p-0 m-0">
		<a class="navbar-brand" href="#" >
  	<img href="{% static 'https://getbootstrap.com/assets/brand/bootstrap-solid.svg' %} "></a> 
   </div>
   <!--
   <span class="collapse navbar-text p-0 m-0">
        Happy Shopping customer name
    </span>

    <!--search item in this shop
   <form class="align-items-center form-inline  p-0 m-0">
   <input type="search" class="form-control ds-input" id="search-input" placeholder="Search items on this shop..." autocomplete="off" data-siteurl=""  role="combobox" style="">
 </form>
   <!--left of nav-bar
    <ul class="navbar-nav p-0 m-0 ml-auto" >
      <li class="nav-item py-0">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item py-0">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
-->

</nav>

<body class="wall">
    
    <div class="container-fluid">
    	<div class="wall row no-gutters">
    		<!--left-seller space-->
    		<div class="col-lg-3 position-relative d-none d-sm-block" >
    	<div style="position: fixed;">
    				<!--upper seller space -->
    <span class="text-center"><h4>Seller Register </h4></span>
      <div >
  <ul class="text-center" style="list-style-type: none; ">
  	<div class="sellers">
  		<a href='#'>
    <li><h6>RETAILER</h6>
    <small>SELL ITEMS TO CONSUMERS</small></li>
   </a>
    </div>
    <br>
    <div class="sellers">
    <a href='#'>
    <li><h6>WHOLESALER</h6>
    <small>SELL ITEMS TO RETAILERS</small></li></a>
    </div>
    <br>
    <div class="sellers">
     <a href='#'>
    <li><h6>DISTRIBUTER</h6>
    <small>SELL ITEMS TO WHOLESALERS</small></li></a>
    </div>
    <br>
    <div class="sellers">
    <a href='#'>
    <li><h6>MANUFACTURER</h6>
    <small>SELL ITEMS TO DISTRIBUTERS</small></li></a>
    </div>
    <br>
    <div class="sellers">
    <a href='#'>
    <li><h6>PRODUCER</h6>
    <small>SELL ITEMS TO MANUFACTURER</small></li></a>
    </div>
  </ul>
    </div>
     	</div>
    	</div>


    		<!--Center block -->
    		<div class="col-lg-4 d-block center clearfix wall" >
              

    	<!--Scrollable shop items-->
    <div>

    	<!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="">
        <ul>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        </ul>
        </div>
    </div>
        </div>
       
      </div>
       <br>

  <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="">
        <ul>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        </ul>
        </div>
    </div>
        </div>
        
      </div>
      <br>

      <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="">
        <ul>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        </ul>
        </div>
    </div>
        </div>
      </div>

       <br>
      <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="">
        <ul>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        	<li><button>hello</button></li>
        </ul>
        </div>
    </div>
        </div>
      </div>
    </div>

      <!--load more stuff-->

      <div class="center text-center text-muted">
        <br>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--Right customer space-->

    <div class="col-lg-5   position-relative d-none d-sm-block wall" >    	
     <div  style="position:fixed;">
     	<div style="background-color: #ffffff">
    	<div class="card-group">
    	<!--profile pic-->    	 
    	<div>
    		<div class="card">
           <img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:100px;">
<h6 class="card-title"><small>Profile name</small></h6>
</div>
         </div>
       <!--current cart-->
   <div >
   	<span class="text-center" ><h6>My Cart</h6></span>
     <table class="table table-sm  table-bordered ">
  <thead>
    <tr>
      <th scope="col">item</th>
      <th scope="col">quantity</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BlueBand</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Salt</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Salt</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Salt</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td><b>total</b></td>
      <td></td>
      <td>50.0</td>
    </tr>
  </tbody>

</table>
 </div>
      <!--lower Personalised Shopping History-->
 <div>
 	<small>Purchases History</small>
<ul>
    <li>Cras</li>
    <li>Dapi</li>
    <li>Vestibulum</li>
  </ul>
 </div>
</div>
</div>


     <!-- Next Shop-->
     <div id="Next-shop">

 <span class="text-center" ><h6>Similar items in Next shop(shop name)</h6></span>

<!--horizontal scrollable-->
<div id="horizontal scrollable" style="background-color: #ffffff">

	 <div>
	 <!-- upper-grp-->
<div id="upper-grp">
	<div class="card-group">
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
</div>
</div>
</div>

<!--lower-grp-->
<div>
	<div class="card-group">
  <div class="card">
  	<small class="text-center" >item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
</div>
</div>
 </div>
</div>
</div>

</div>
   </div>
    </div>
</body>
</html>