{% extends "consumer/base.html" %}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" type="text/css" media="screen" href="{% static 'consumer/styles/consumer_index.css' %}"/> {% endblock style %}

{% block content %}
    
    <div class="p-0 m-0">
    	<div class="wall row  no-gutters">
    		<!--left-seller space-->
    		<div class="col-md-3  position-relative   d-none d-lg-block">
    	<div id="sellerS" style="margin-right: 10px;margin-top:50px "  >
    				<!--upper seller space -->
    				<div class="position-fixed">
    <div class="text-center" style="list-style-type: none;margin-left: 10px; ">
    	<span class="card" style="background-color: #365899;text-align: center;color: white;font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif"><h3>BECOME A SELLER </h3></span>
  		<a  class=" card" href='#' style="margin-bottom: 7px">
    <h6>RETAILER</h6>
    <small>SELL TO CONSUMERS</small>
   </a>
    <a class="card" style="margin-bottom: 7px" href='#'>
    <h6>WHOLESALER</h6>
    <small>SELL TO RETAILERS</small></a>
     <a class="card" style="margin-bottom: 7px" href='#' >
    <h6>DISTRIBUTER</h6>
    <small>SELL TO WHOLESALERS</small>
     </a>
    <a class="card"  style="margin-bottom: 7px" href='#'>
    <h6>MANUFACTURER</h6>
    <small>SELL TO DISTRIBUTERS</small></a>
    <a class="card" href='#'>
    <h6>PRODUCER</h6>
    <small>SELL TO MANUFACTURER</small></a>
  </div>
    
     	</div>
     	</div>
    	</div>


    		<!--Center block -->
    		<div class="col-md-4 container d-block center clearfix wall " style="padding-top:3px">
              

    	<!--Scrollable shop items-->
    <div>

    	<!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="{% static 'consumer/images/profholder.jpeg' %}" 
          	class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="{% static 'consumer/images/placeholder.jpg' %}" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="" >
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
       
      </div>
       <br>

  <!--shop item-->
      <div class="" id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="{% static 'consumer/images/profholder.jpeg' %}"
          	class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="{% static 'consumer/images/placeholder.jpg' %}" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class=" " >
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
        
      </div>
      <br>

      <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="{% static 'consumer/images/profholder.jpeg' %}"
          	class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="{% static 'consumer/images/placeholder.jpg' %}" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="" >
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
      </div>

       <br>
      <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="{% static 'consumer/images/profholder.jpeg' %}" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="{% static 'consumer/images/placeholder.jpg' %}" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div>
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
      </div>
    </div>

      <!--load more stuff-->

      <div class="center text-center text-muted">
        <br>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--Right customer space-->

    <div class="col-md-5 container-fluid  position-relative d-none d-sm-block wall" >    	
     <div  class="position-fixed" style="margin-left:5px;margin-top:2px ">

     	<div style="background-color: #ffffff;height:301px;margin: 0 auto;">
       <!--current cart-->
<div class="content">
  <div class="left">
    
    <div class="wrapper">
  <div class="tContainer">
    <table>
      <thead>
        <tr>
          <th>
            ITEM
            <div class="c1">
              ITEM
            </div>
          </th>
          <th>
            QUANTITY
            <div class="c2">
              QUANTITY
            </div>
          </th>
          <th>
            PRICE
            <div class="c3">
              PRICE(KSH)
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="scrollContent">
        <tr>
          <td>Sugar</td>
          <td>1 KG</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
         <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
        <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
          <tr>
          <td>Sugar</td>
          <td>1</td>
          <td>100</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <div class="c1">
              TOTAL
            </div>
          </td>
          <td>
            <div class="c2"></div>
          </td>
          <td>
            100(ksh)
            <div class="c3">100</div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
</div>
</div>
   
      <!--lower Personalised Shopping History-->

 <div style="margin-left:250px">
  <h4>Purchases History</h4>
<ul>
    <li>Cras</li>
    <li>Dapi</li>
    <li>Vestibulum</li>
  </ul>
 </div>
</div>
<div style="clear: both;margin: 0 auto;"></div>
     <!-- Next Shop-->
 <div class="text-center">
    <h4 style="margin: 0">SIMILAR ITEMS NEXT SHOP(shop name)</h4>
</div>
<div id="Next-shop" style="height: 200px">
<!--horizontal scrollable-->
    <div class="carosel" id="carosel1">
   <a class="carosel-control carosel-control-left" href="#" role="button">
    <span class="carousel-control-prev-icon graphicon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
   <div class="carosel-inner">
    <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
    </div>
    <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
   </div>
   <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
  </div>
  <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
  </div>
  <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
  </div>
  <div class="carosel-item ">
    <img class="img-thumbnail" src="http://placehold.it/200/f477f4/fff&amp;text=6" />
  </div>
  </div>
   <a class="carosel-control carosel-control-right" href="#" role="button">
    <span class="carousel-control-next-icon graphicon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="carosel" id="carosel2">
  <a class="carosel-control carosel-control-left" href="#" role="button">
    <span class="carousel-control-prev-icon graphicon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
   <div class="carosel-inner">
    <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
    </div>
    <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
   </div>
   <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
  </div>
  <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
  </div>
  <div class="carosel-item ">
    <img class="img-thumbnail" src="{% static 'consumer/images/placeholder.jpg' %}"> 
  </div>
  <div class="carosel-item ">
    <img class="img-thumbnail" src="http://placehold.it/200/f477f4/fff&amp;text=6" />
  </div>
  </div>
  <a class="carosel-control carosel-control-right" href="#" role="button">
    <span class="carousel-control-next-icon graphicon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


</div>


</div>
</div>
</div>
</div>
    {% endblock content %}