{% load static %}

<!doctype html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8">
	<link href="{% static 'consumer/css/css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'consumer/css/consumer_style.css' %}" rel="stylesheet" >
	<link href='https://fonts.googleapis.com/css?family=Abhaya Libre' rel='stylesheet'>
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>strade</title>

</head>

<!--Nav div-->
<nav id="nav" class="navbar p-0   navbar-expand-lg m-0 fixed-top " style="background-color: #365899;height: 48px;">
	<div class="container">
      <div class="d-none d-lg-block navbar-brand m-0 logo">	
      	</div>

   <!-- search item in this shop-->
     <form class="form-inline searchF" style="margin-top:30px; ">
        <input class="search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0 p-0 m-0" type="submit" style="height: 25px;font-size: 14px;text-align: center;">Search</button>
  </form> 
   <!--left of nav-bar-->
   <div class="collapse navbar-collapse justify-content-end" id="main-navbar" style="width: 250px;height: 50px;">
    <ul class="navbar-nav" >
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    </div>
    </div>

</nav>

<body class="" style="padding-top:50px">
    
    <div class="p-0 m-0">
    	<div class="wall row  no-gutters">
    		<!--left-seller space-->
    		<div class="col-md-3  position-relative   d-none d-lg-block">
    	<div id="sellerS" style="margin-right: 10px;margin-top:50px "  >
    				<!--upper seller space -->
    				<div class="position-fixed" style="margin-right: -50px">
    <div class="text-center" style="list-style-type: none;margin-left: 40px; ">
    	<span class="card" ><h6>BECOME A SELLER </h6></span>
  		<a  class=" card" href='#' style="margin-bottom: 7px">
    <h6>RETAILER</h6>
    <small>SELL TO CONSUMERS</small>
   </a>
    <a class="card" style="margin-bottom: 7px" href='#'>
    <h6>WHOLESALER</h6>
    <small>SELL TO RETAILERS</small></a>
     <a class="card" style="margin-bottom: 7px" href='#' >
    <h6>DISTRIBUTER</h6>
    <small>SELL TO WHOLESALERS</small></a>
    <a class="Card"  style="margin-bottom: 7px" href='#'>
    <h6>MANUFACTURER</h6>
    <small>SELL TO DISTRIBUTERS</small></a>
    <a class="Card" href='#'>
    <h6 >PRODUCER</h6>
    <small>SELL TO MANUFACTURER</small></a>
  </div>
    
     	</div>
     	</div>
    	</div>


    		<!--Center block -->
    		<div class="col-md-4 container d-block center clearfix wall " style="padding-top:3px">
              

    	<!--Scrollable shop items-->
    <div>

    	<!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="" >
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
       
      </div>
       <br>

  <!--shop item-->
      <div class="" id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class=" " >
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
        
      </div>
      <br>

      <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div class="" >
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
      </div>

       <br>
      <!--shop item-->
      <div id="shop-item" style="background-color: #fafafa">
      	<!--upper image,shopname and location-->
        <div>
          <h6><img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:40px;"> SHOPNAME
<small class="text-muted">Shop location</small></h6>
        </div>
        <!--Buying space-->
        <div class="row">
        	<!--image left-->
        	<div class="col">
        <div>
        <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
        </div>
    </div>
        <!--right Buy sell sbuttons-->
        <div class="col">
        <div>
        <ul style="list-style-type: none;">
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        	<li><button type="button"  class="btn btn-success btn-sm btn-block">hello</button></li>
        </ul>
        </div>
    </div>
        </div>
      </div>
    </div>

      <!--load more stuff-->

      <div class="center text-center text-muted">
        <br>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
      </div>
    </div>

    <!--Right customer space-->

    <div class="col-md-5 container-fluid  position-relative d-none d-sm-block wall" >    	
     <div  class="position-fixed" style="margin-left:5px;margin-top:2px ">
     	<div style="background-color: #ffffff">
    	<div class="card-group">
    	<!--profile pic-->    	 
    		<div class="text-center" style="width: 50px">
           <img src="https://pbs.twimg.com/profile_images/3693270948/cb89095e1d403d8cfaf750faba2e683b_400x400.jpeg
" class="img-fluid rounded" alt="Responsive image rounded" style="width:50px;">
<small>name</small>
</div>
       <!--current cart-->
   <div >
   	<span class="text-center" ><h6>My Cart</h6></span>
     <table class="table table-sm  table-bordered ">
  <thead>
    <tr>
      <th scope="col">item</th>
      <th scope="col">quantity</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>BlueBand</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Salt</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Salt</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Salt</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td><b>total</b></td>
      <td></td>
      <td>50.0</td>
    </tr>
  </tbody>

</table>
 </div>
      <!--lower Personalised Shopping History-->
 <div>
 	<small>Purchases History</small>
<ul>
    <li>Cras</li>
    <li>Dapi</li>
    <li>Vestibulum</li>
  </ul>
 </div>
</div>
</div>


     <!-- Next Shop-->
     <div id="Next-shop">

 <span class="text-center" ><h6>Similar items in Next shop(shop name)</h6></span>

<!--horizontal scrollable-->
<div id="horizontal scrollable" style="background-color: #ffffff">

	 <div>
	 <!-- upper-grp-->
<div id="upper-grp">
	<div class="card-group">
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
</div>
</div>
</div>

<!--lower-grp-->
<div>
	<div class="card-group">
  <div class="card">
  	<small class="text-center" >item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
  <div class="card">
  	<small class="text-center">item <small>price</small></small>
    <img class="card-img-bottom" src="http://www.climbingvenezuela.com/sites/default/files/styles/bigwig_940x460/public/bigwig/ascenso_pico_naiguata_02_0.jpg?itok=mAq5kzme" alt="Card image cap">
  </div>
</div>
</div>
 </div>
</div>
</div>

</div>
   </div>
    </div>
</body>
</html>