.wall{
  background-color::#e9ebee;
}
.sellers{
  background-color: #ffffff;
  border-radius: 5px
}

@media (max-width: 300px) {
  .carosel-item {
    width: 100%;
  }
}
@media (min-width: 300px) {
  .carosel-item {
    width: 50%;
  }
}
@media (min-width: 500px) {
  .carosel-item {
    width: 33.333%;
  }
}
@media (min-width: 768px) {
  .carosel-item {
    width: 25%;
  }
}
.carosel {
  position: relative;
}
.carosel-inner {
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
}
.carosel-item {
  display: inline-block;

  height: 120px;
}
.carosel-control {
  position: absolute;
  top: 50%;
  padding: 15px;
  transform: translateY(-50%);
  height: 120px;
}

.carosel-control-left{
}
.carosel-control-right {
  right: 0px;
}
.graphicon{
	height: 90px;
}
.carosel-control:active,
.carosel-control:hover {
  text-decoration: none;
  color: rgba(0, 0, 125, 0.8);
}
.img-thumbnail{
	height: 140px;
}
/*tabel*/
.wrapper {
  width: 100%;
  position: relative;
  background: #efefef;
  overflow: hidden;
}

.left {
  float: left;
}

.tContainer {
  overflow-y: scroll;
  height: 299px;
  border-top: 41px solid transparent;
  border-bottom: 41px solid transparent;
}

td + td {
  border-left: 1px solid #fff;
}

td, th {
  padding: 5px 4px 5px 10px;

}
td{
	font: normal normal 19px Arial;
}

thead tr th,
tfoot tr td {
  line-height: 0;
}

thead tr th div,
tfoot tr td div {
  position: absolute;
  color: #fff;
  padding: 15px;
  margin-left: -19px;
  line-height: normal;
  width: 100%;
  text-align: left;
  font-size: 15.9px;
  font-weight: bold;
  background: #365899;
}
thead tr th div {
  top: 0;
}

tfoot tr td div {
  bottom:0;
}